.container{
  padding: 0 !important;
}
 .our_container {
  background-color: #f0f4f9 !important;
  height: 100px;
  margin: 0px;
}


/* banner */

/* catagories */

/* subscribe now */


/* footer */



/* filter */


/* allnots
 */




 /* for scroll */



/* top container */


/* hero section */
